body
{
  margin: 0;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top
{
  background-image: linear-gradient(91.65deg, #FF3E3E 35.87%, #D90135 74.22%);
  height: 44px;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter,sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  position: fixed;
  z-index: 1;
}

.top a
{
  text-decoration: none;
  color: #ffffff;
}

.top p
{
  margin:0;
}

.bottom
{
  background-image: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 138.14%);
  height: 59px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.180085px;
  text-transform: capitalize;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17.2881px;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.far
{
  margin-right: 10px;
}

.logo
{
  position: absolute;
  top: 44px;
  padding-top: 36px;
  padding-bottom: 20px;
  height: 40.1px;
  width: 108px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.link
{
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.cards
{
  position: absolute;
  top: 190px;
  width: 81.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card
{
  position: relative;
  padding: 15px;
  text-align: left;
  background-color: #1F1F1F;
  color: #ffffff;
  height: 177px;
  width: 260px;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: all .3s ease;
}

.card img
{
  position: absolute;
  width: 33px;
  height : 33px;
  top: 43px;
  left: 18px;
}

.card i
{
  position: absolute;
  top: 43px;
  left: 18px;
}

.h1
{
  position: absolute;
  left: 18px;
  top: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.h2
{
  position: absolute;
  top: 126px;
  left: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.5);
}

.bottom p
{
  color: rgba(255, 255, 255, 0.5);
}

.card:hover
{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5);
  transform: translate3d(0,-0.3rem,0) scale(1.05);
  transition: all .3s ease;
}

@media screen and (max-width: 380px)
{
  .cards
  {
    width: 50.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card
  {
    display: block;
  }
}

@media screen and (max-width: 740px)
{
  .cards
  {
    width: 84.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
